header {
  padding: 1.5rem;
  border-bottom: 1px solid var(--gray-10);

  .content {
      max-width: 70rem;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > img {
          max-height: 2.8125rem;
      }

      > div {
        display: flex;
        gap: 1rem;        
      }
  }
}